{% extends "base.html" %}

{% block content %}
    <div>
      <p>Your final score is: {{ score }}% or {{ points }}/{{ num_questions }}</p>
      {% if score >= 71 %}
      <p>You passed!</p>
      {% else %}
      <p>You didn't pass.</p>
      {% endif %}
    </div>
    {% if corrections %}
      {% for question in questions %}
      <div>
        <p>Question. {{ question.question }}</p>
      </div>
      {% endfor %}
    {% else %}
      <div>
        <p>Do you want to see the corrections? </p>
      </div>
      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
          {{ form.corrections.label }}<br>
          {{ form.corrections(size=1) }}
        </p>
        <p>
          {{ form.submit_correction() }}
        </p>
      </form>
    {% endif %}
{% endblock %}
